# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

# Virtual environments
venv/
env/
.venv/

# Django
*.sqlite3
/staticfiles/
/media/
/logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# node
node_modules/
